<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>

<h1><%= title %></h1>

<p>Bem-vindo à página de atletas da ArenaFut</p>

<ul>
    <li>Neymar</li>
    <li>Messi</li>
    <li>Cristiano Ronaldo</li>
</ul>

</body>
</html>